dist: bionic
language: go
go:
  - "1.14"
os:
  - linux
env:
  - GO111MODULE=on
install:
  - make setup
jobs:
  include:
    - name: test
      stage: test
      script:
        - make test
      after_success:
        - bash <(curl -s https://codecov.io/bash)
    - name: lint
      stage: test
      script:
        - make lint-ci
